doctype html
html
    head
       title #{siteName}
       style
            include ../../static/style.css
    body
        main
            block content
            .footer
        include ../partials/footer

