doctype html
html
    head
       title #{siteName}
       link(rel="preconnect" href="https://fonts.gstatic.com")
       link(href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet")
       link(rel="stylesheet",href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        ,integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr",crossorigin="anonymous")
       style
            include ../../static/style.css
    body
        main
            block content
            .footer
        include ../partials/footer
        script
            include ../../controller/header.js
            include ../../controller/index.js

