extends layouts/index
block content
    section#home
        .title 프론트엔드 개발자 최성민 입니다.
        .Btn_pageAbout 자세히 보기
    section#navigatorBar
        #HomeBtn.naviBtn HOME
        #AboutBtn.naviBtn ABOUT
        #SkillBtn.naviBtn SKILL
        #ProjectBtn.naviBtn PROJECTS
        #ContactBtn.naviBtn CONTACT
    section.main
        section.aboutBlock.header
            .menuTitle#about  ABOUT
                .lineblock
        section.skillBlock.header
            .menuTitle SKILL
                .lineblock
        section.projectBlock.header
            .menuTitle PROJECTS
                .lineblock
        section.contactBlock.header
            .menuTitle CONTACT
                .lineblock
            
        


