extends layouts/index
block content
    section#home
        .flex 풀스택 웹 개발자 최성민 입니다.
    .aboutBlock
        h1 About
    .skillBlock
    .projectBlock
        h1 projects
    .contactBlock
        h1 contact
    


